<div class="footer-background background-empty"></div>
        <div id="bottom" class="bottom">
            <div class="container">
                <div class="bottom-wrap">
                    <div class="bottom-inside d-md-flex justify-content-md-between align-items-center">
                        <div id="copyright">Copyright’2021. All Rights Reserved</div>
                        <div class="address">Muhammad Luqman Hakim - 17610080</div>
                        <div class="logo-footer">
                            <a href="/"><img src="/static/images/logo/luqs2fix.png" alt="images" height="101px" width="62 px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- bottom -->
        <a id="scroll-top" class="show"></a>
    </div><!-- footer-background -->