<header id="header" class="header main-header">
    <div class="container">
        <div class="flex-header">
            <div id="logo" class="logo">
                <a href="/" title="Logo"><img src="/static/images/logo/luqsfix.png" alt="images" height="101px" width="62 px"></a>
            </div>
            <div class="content-menu">
                <div class="nav-wrap">
                    <div class="btn-menu"><span></span></div>
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li><a href="#"></a>
                            </li>         
                        </ul>
                    </nav>
                </div>
                <div class="lang-user">
                    <div class="language-name">
                        <span style="color: aliceblue;">{{user}}</span>
                        <a class="icon"><span class="icon-user"></span></a>
                        <ul class="list-chooser">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</header><!-- header -->